
.redColor{
    color: #A00E19;
  }
    
.form-area{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	width: 500px;
}

#centrado{
    width: 50%;
    margin-left: 25%;
}

form button {
    margin-right: 45%;
}