table td, table th {
    text-align: center;  
}
#rankingHead {
    background-color: #A00E19;
    color: white;
}

#rankingTitle{
    color: black;
    font-family: "Times New Roman", Times, serif;
}

#searchTeamDiv{
    padding-top: 20px;
    width: 300px;
}

#searchTeam{
    background-color: #A00E19;
}

#searchTeam.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    color: white;
}

#rankingImage{
    margin-left: 20%;
    margin-bottom: 5%;
}

#rankingHeader{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}


