
table th, td{
  text-align: center;
  padding: 15px;
  height: 50px;
  width: 100px;
  border: 1px solid #000;
}

table{
  border-collapse: separate;
  background: #bcebee;
  margin:50px;
}

caption { 
	border: black 3px solid;
	text-align: center;
}

.time{
	width: 150px;
}